    #s {
        color: green;
    }
    
    #ac {
        background-color: white;
        color: black;
    }
    
    #earth {
        background-color: rgba(0, 0, 0, 0.281);
        color: whitesmoke;
    }
    
    #es {
        background-color: rgba(0, 0, 0, 0.281);
        color: whitesmoke;
    }